* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	margin:0px;
}

/*Navbar*/

nav {
	width: 100%;
	font-family: Arial;
}

nav div {
	width: inherit;
	padding-left: 20px;	
	box-sizing: border-box;
	font-size: small;
}

nav div:nth-of-type(1) {
	height:32px;
	background-color: #131313;
	padding-top: 10px;
}

nav div:nth-of-type(1) a {
	color: #7e7e7e;
	text-decoration: none;
	padding-right: 7px;
}

nav div:nth-of-type(1) a:hover {
	color: white;
}

nav div:nth-of-type(1) i {
	font-size: x-small;
	padding-top: 2px;
}

nav div:nth-of-type(2) {
	height: 48px;
	background-color: white;
	font-family: 'Thasadith', sans-serif;
	display: flex;
}

nav div:nth-of-type(2) a {
	padding-top: 20px;
	text-decoration: none;
	color: #383737;
	font-weight: 600;
	padding-right: 2.5vw;
}

.TNW2019 {
	width: auto;
	padding-top: 13px !important;
	background-color: unset !important;
	position: relative;
	left: 5vw;
}

.TNW2019 img {
	width: 125px;
	height: 10px;
}

.TNW2019 span {
	padding-left: 20px;
	font-weight: 900;
}

.TNW2019 span:nth-of-type(2) {
	color: red;
	font-weight: 900;
	font-size: medium;
}

.TNW2019 button {
	background-color: rgb(0,204,204);
	width: 80px;
	height: 28px;
	font-size: xx-small;
	font-weight: bolder;
	border-radius: 3px;
	border-color: transparent;
	color: white;
	margin-left: 20px;
}


nav div:nth-of-type(3) {
	height: 30px;
	background-color: #ffdd33;
	font-family: 'Thasadith', sans-serif;
	color: #383737;
	font-weight: 600;
	padding-top: 7px;
	word-spacing: 3px;
}

/*section one*/
.section-one {
	display: flex;
	padding: 2px 7px;
}

.first {
	width: 66%;
	height: 529px;
}
.first img {
	width: 99%;
	height: 529px;
}

.second {
	width: 33%;
}

.second img {
	width: 402px;
	height: 260px;
}

.larger-content-box {
	position: relative;
	margin-top: 10px;
}

.larger-content-box div {
	position: absolute;
	background-color: #000000d9;
	bottom: 0px;
	width: 99%;
	height: 529px;
	display: flex;
	align-items:flex-end;
	flex-wrap: wrap;
}

.larger-content-box header {
	width: 90%;
	padding-left: 20px;
}

.larger-content-box div h1 {
	color: white;
	font-size: large;
}

.larger-content-box div p {
	font-size: -webkit-xxx-large;
	color: white;
	margin-top: 0px;
	font-weight: 900;
}


.smaller-content-box div {
	position: absolute;
	background-color: #00000078;
	bottom: 4px;
	width: 99%;
	height: 260px;
	display: flex;
	align-items:flex-end;
	flex-wrap: wrap;
}

.smaller-content-box header {
	width: 90%;
	padding-left: 10px;
}

.smaller-content-box h1 {
	color: white;
	font-size: small;
}

.smaller-content-box p {
	font-size: larger;
	color: white;
	font-weight: 700;
}

.smaller-content-box {
	position: relative;
	margin: 10px 3px;
	box-sizing: border-box;
}

/* Section  2*/

.section-two{
	width: 100%;
	padding: 0% 4%;	
	box-sizing: border-box;
}

.section-two h1 {
	color: #f42;
	font-weight: 800;
	font-family: 'Bree Serif', serif;

}

.latest-news-parent {
	display: flex;
	height: auto;
	flex-wrap: wrap;

}
.latest-news-container {
	width: 270px;
	height: 251px;
	margin-right:20px;
}

.latest-news-container img {
	width: 270px;
	height: 135px;
}

.latest-news-container h2 {
	font-size: large;
}

.latest-news-container p {
	color: #6d6c6c;
	font-size: small;
}

/*Section 3*/
.section-three{
	width: 100%;
	height:auto;
	padding: 0% 4%;	
	box-sizing: border-box;
}

.section-three h1 {
	color: #f42;
	font-weight: 800;
	font-family: 'Bree Serif', serif;

}

.funding-round {
	width: 270px;
	height: 270px;
	margin-right:20px;
}

.funding-round-container {
	display: flex;
	flex-wrap: wrap;
	margin-top: 30px;
}

.funding-round-card1 {
	width: 270px;
	height: 96px;
	position: relative;
}

.funding-round-card1 img {
	width: 50px;
	height: 50px;
	z-index: 100;
	position: absolute;
	left: 6px;
	top: 20px
}

.funding-round-card1 h4{
	background-color:rgb(255, 68, 34);
	box-sizing: border-box;
	height: 39.31px;
	margin:0px;
	color: white;
	padding-left: 70px;
	padding-top: 11px;
	font-weight: bolder;
}

.funding-round-card1 div {
	background-color:rgba(255, 68, 34, 0.08);
	height: 57.31px;
}

.funding-round-card1 h3 {
	margin:0px;
	padding-left: 70px;
	padding-top: 11px;
}
.funding-round-card1 h5 {
	margin:0px;
	padding-left: 70px;
	padding-top: 11px;
	font-weight: 200;
	color: #5a5959;
}

.funding-round-card2 {
	width: 270px;
	height: 82px;
	padding: 16px;
	background-color: #fffaf8;
	box-sizing: border-box;
	border-bottom:0.5px solid;
	border-bottom-color:rgb(255, 68, 34); 
}

.funding-round-card2 i {
	width: 100%;
	padding-left: 4px; 
	padding-top: 6px;
	word-spacing: 5px;
}

.funding-round-card2 i span {
	padding-left: 7px;
}
.funding-round-card3 {
	width: 270px;
	height: 90px;
	background-color: #fffaf8;
	padding: 16px;
	font-size: small;
	box-sizing: border-box;
	color: #555;
}